    body {
        background: #234;
        color: white;
    } 

    section {
        background: #456; 
        padding: 50px;
        margin: 100px 0;
    }

    .bg-light {
        background: #fff;
        color: #333;
    }

    .bg-dark {
        background: #333;
        color: #fff;
    }

    #margin {
        background: red;
    }